@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <input type="button" value="Logout" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Logout", "User")'" 
    </div>

<div class="row">
   
</div>